*,
::before,
::after {
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.card-item {
    padding: 12px;
    border: 1.5px solid coral;
    text-align: center;
}
